@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background: white;
  height: 330px;
  width: 235px;
  position: relative;
  border-radius: 5%;
  display: flex;
  margin-top: 15%;
  margin-left: 40%;
}

.suit-top {
  position: absolute;
  top: -5px;
  left: 15px;
  font-size: 60px;
}
.suit-bottom {
  transform: rotate(180deg);
  font-size: 60px;
  position: absolute;
  right: 15px;
  bottom: -5px;
}
.number {
  font-size: 100px;
  text-align: center;
  margin-top: 35%;
}

#timer {
  margin-top: 2%;
  padding-left: 20px;
  margin-left: 5%;
}

#btn {
  margin-top: 2%;
  margin-left: 40%;
  width: 235px;
}

body {
  background: green;
}

.red {
  color: red;
}
.black {
  color: black;
}
